@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   font-family: 'Poppins';
   font-weight: 500;
   overflow-x: hidden;
   position: relative;
}



.container {
   margin: auto;
   padding: 0 30px;
   
   @apply  2xl:max-w-[1920px] 2xl:px-[370px] xl:max-w-[1600px] xl:px-[200px] md:max-w-[580px]
}


.violet-button {

   transition: all .6s;

   @apply rounded-lg py-3 px-6 bg-[#8053FF] text-[16px] text-[white] 
}

.violet-button:hover {
   background-color: #381c83;
}

.transparent-button {
   transition: all .6s;

   @apply rounded-lg py-3 px-5 bg-[#FFFFFF] text-[16px] text-[#8053FF] border-2
}

.transparent-button:hover {
   background-color: #8053FF;
   color: white;
}

.title {
   font-size: clamp(24px, 3vw, 52px);
   font-weight: 700;
   line-height: 123%;
   letter-spacing: 0.02em;
}

.subtitle {
   font-size: clamp(6px, 2vw, 16px);
   font-weight: 400;
   line-height: 156%;
   color: #381c83;
}

.card {
   box-shadow: 0 14px 64px -4px rgba(35, 21, 91, 0.05), 0 8px 12px -6px rgba(35, 21, 91, 0.05);

   @apply gap-[10px] flex max-w-[580px] rounded-lg p-6 pr-[20%] bg-[#FFFFFF]
}

.back {
   width: 100vw;
   background-image: url('/images/funding-back.png');
}


.answer-card {
   box-shadow: 0 14px 64px -4px rgba(35, 21, 91, 0.05), 0 8px 12px -6px rgba(35, 21, 91, 0.05);

   @apply bg-[#FFFFFF] max-w-[580px] gap-[7px] rounded-lg p-6 pr-[20%] sm:flex block

}

.input {
   outline: none;

   @apply rounded-lg px-3 py-3.5 w-[340px] h-[48px]
}

.input:hover {
   border: none;
}


.adv-img{
   @apply h-[40px] lg:h-[50px] 2xl:h-auto
}



.fundraising-section.element-animation{
   opacity: 0;
   transform: translateX(20%);
}

.fundraising-section.element-animation.element-show {
   opacity: 1;
   transition: all 1s;
   transform: translateX(0%);
}

.answer-section.element-animation {
   opacity: 0;
   transform: translateX(-20%);
}

.answer-section.element-animation.element-show {
   opacity: 1;
   transition: all 1s;
   transform: translateX(0%);
}

.text-anim.element-animation{
      opacity: 0;
         transform: translateY(-60px);
}

.text-anim.element-animation.element-show {
   opacity: 1;
   transition: all 1.5s;
   transform: translateY(0%);
}